body, html {
	margin: 0%;
	height: 100%;
	color: #e0e0e0;
}

body {
 /* The image used */
  background-image: url("https://n1kokouloufakos.github.io/Kinsale_Cathedral.JPG");

  /* Set a specific height */
  height: 200%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div{
	display: inline;
}

h1 {
	font-size: 40px;
	margin-top: 0px;
	font-weight: bold;
}

p {
	line-height: 140%;
}

button {
	background-color: 120;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

button:active {
	background-color: 240;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 400px; 
    height: 400px; 
    padding: 0px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    justify-content: center;
    text-align: center;
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    overflow: hidden;
}

#header {
	padding: 22px;
	display: flex;
	justify-content: center;
	background-color: rgba(50,50,50,0.5);
	margin-bottom: 10%;
}

#contentWrapper {
	background-color: #555555;
}
/*.parallax {
    background-image: url("Kinsale_Cathedral.jpg")

    height: 100%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.halfSizedParallax {
	height: 50% !important;
}

#titleAndLinks {
	vertical-align: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	font-family: "Roboto Slab";
}

#links {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.content {
	background-color: #555555;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	font-family: 'Encode Sans Expanded', sans-serif;;
}

.resumeContainer {
	margin-top:20%;
	background-color: #555555;
	font-family: 'Encode Sans Expanded', sans-serif;
}

#achievementContainer {
	margin-top:0px;
}

.resume_content {
	text-align: ;
	margin:0px;
	padding-top:0px;
	background-color: #555555;
	font-family: 'Encode Sans Expanded', sans-serif;;
}

#writeUp {
	background-color: #555;
	padding: 15px; 
	flex: 1 1;
	min-width: 595px;
	max-width: 595px;
}

#video {
	display: flex;
	flex: 2 1;
	flex-direction: row;
	padding: 15px; 
	display: flex;
	justify-content: center;
	align-content: center;
}

.moveArrow {
	display: flex;
	height: 100%;
	flex: 1 1;
	background-color: #555;
	align-items: center;
	justify-content: center;
}

#rightArrow {
	cursor: pointer;
}

#leftArrow {
	transform: scale(-1,-1);
	cursor: pointer;
}

